<div class="main-container">
  <div class="slice-container">
    <div class="form-login">
    <h1>Configre a service</h1>
    <%= simple_form_for @service do |f| %>
      <%= f.input :service_type, collection: ['General Consultation', 'Test Prep', 'Ongoing Assistance'], required:true %>
      <%= f.input :description %>
      <%= f.input :price, label:'Price/hour' %>
      <div class="row-btn">
        <%= f.submit "Save", class: "btn-cta" %>
        <a href="/profile" class="btn-cta-border" style="margin-left: 10px;">Cancel</a>
      </div>
    <% end %>
    </div>
  </div>
</div>
