<div class="main-container">
    <h2>Service details</h2>
  <div class="slice-container">

  <!-- SERVICE CARD -->

    <div class="service-result-card" style="opacity:1; width: 100vw;">
      <div class="image" style="position: relative;">
        <i class="far fa-heart" style="font-size:24px; position: absolute; top: 20px; left: 16px; color: $black;"></i>
        <img src="<%= @service.user.imgUrl %>">
      </div>

      <!-- APPOINTMENT DETAILS -->
      <div class="service-result-card" style="width: 800px; margin-right: 40px;">
        <div class="info" style="height: 240px; margin-right: 80px;">
          <div class="row">
            <% if @service.user.featured == true %>
              <p class="feature-badge">FEATURED</p>
            <% end %>
              <p class="path"><%= @service.path %></p>
          </div>
          <div class="row">
            <h2><%= @service.service_type.upcase %></h2>
          </div>
          <div class="row" style="min-width: 600px;">
            <p><%= @service.description %></p>
          </div>
          <div class="service-price">
            <p style="margin-right:30px;">$<%= @service.price %> CAD/hour</p>
          </div>
        </div>
      </div>
    </div>

<!--   <div class="border-container" style="border: 1px solid $black !important; padding: 10px; border-radius: 10px; box-shadow: 1px 1px 3px rgba(0,0,0,0.1);"> -->
  <div class="row" style="justify-content: space-between;">
     <div class="service-booking-advisor-info">
        <h2><strong><%= @service.user.first_name %> <%= @service.user.last_name %></strong></h2>
        <p><strong>Biography:</strong> <%= @service.user.user_bio %></p>
      </div>

      <%= simple_form_for [@service, @appointment] do |f| %>
        <div class="col" style="display: flex; padding-top: 25px; padding-right:130px; margin-right: 10px; justify-content: flex-end; align-items: bottom;">
          <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker1"}, placeholder: "Select a date" %>
          <button id="sweet-alert" class="btn-cta">Confirm</button>
          <div style="display: flex; align-self:right;"><%= link_to "", dashboard_path, id: "book-appointment", class: "hidden" %></div>
        </div>
      <% end %>
  <!-- </div> -->
</div>

  <br>
  <br>

  <!-- REVIEWS -->
    <div class="review-container">
      <h2>Reviews</h2>
      <!-- REVIEWS AVERAGE -->
      <% if @average == 'not rated' %>
        <p>No reviews for this service.</p>
        <% else %>
         <p> <%= @service.reviews.count %> Reviews
          <% @average.times do %>
            <i id="rating-stars" class="fas fa-star"></i>
          <% end %>
        </p>
      <% end %>
      <!-- REVIEWS LIST -->
        <% @service.reviews.each do |review| %>
          <div class="review-card">
            <h1 class="review-title"><%= review.title %></h1>
                <p id="rating-stars"><% review.rating.times do %>
                  <i class="fas fa-star"></i>
                  <% end %>
                </p>
            <div class="review-card-row">
              <div class="review-card-image">
                <img src="<%= review.user.imgUrl %>">
              </div>
              <div class="review-card-content">
                <p><%= review.content %> - <em><%= review.user.first_name %></em></p>
              </div>
            </div>
                <p>by <strong><%= review.user.first_name %></strong> on <%= review.created_at.to_time.strftime('%B %e, %Y') %></p>
              </div>
            <% end %>

      <% if current_user.user_type == "user" %>
        <%= link_to new_service_review_path(@service)  do %>
          <div class="btn-cta-border">Add review</div>
        <% end %>
      <% end %>
    </div>
</div>
</div>
