<% @milestones.each do |milestone| %>
  <ul>
    <li>
      <%= link_to milestone.milestone_title, edit_milestone_path(milestone) %>
      <%= milestone.milestone_date %>
      <%= milestone.achieved %>
    </li>
  </ul>
<% end %>


<% @user_milestones.each do |milestone| %>
  <ul>
    <li>
      <%= link_to milestone.milestone_title, edit_milestone_path(milestone) %>
      <%= milestone.milestone_date %>
      <%= milestone.achieved %>
    </li>
  </ul>
<% end %>


