<%= render 'shared/navbar' %>
  <div class="main-container">
    <!-- PATH PLANNER -->
    <h2>Path planner</h2>
    <p>Here you can manage the tasks you need to complete on your journey.</p>

    <!-- RECOMMENDED TASKS -->
    <% if @current_user.user_type == "user"%>
      <h2>Recommended tasks</h2>
      <p>These are recommended tasks for your path.</p>

      <% @recommended_tasks.each do |recommended_task| %>
        <div class="planner-row">
          <strong><%= recommended_task.task_name%></strong>
          <%= link_to add_to_checklist_path(recommended_task), method: :patch do %>
            <i class="fa fa-plus"></i>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <!-- MY TASKS LIST -->
    <h2>Task list</h2>
      <% if @user_tasks.empty? %>
        <p>Create a task you need to complete on your journey. High priority tasks will create reminders on your dashboard.</p>
      <% else %>

    <!-- HIGH PRIORITY TASKS -->
    <div class="container-col">
      <% @high_priority_tasks.each do |task| %>
        <div class="card-task">
          <!-- TASK DETAILS -->
          <div class="task-details">
            <!-- TASK CHECKBOX -->
            <div id="status">
              <%= link_to mark_task_path(task), method: :patch do %>
                <% if task.task_status %>
                  <i class="fa fa-check-square"></i>
                <% else %>
                  <i class="fa fa-square"></i>
                <% end %>
              <% end %>
            </div>

            <!-- TASK NAME -->
            <div id="task-name">
            <p><strong><%= task.task_name%></strong></p>
            </div>
          </div>

          <!-- TASK ACTIONS -->
          <div class="task-actions">
            <!-- TASK PRIORITY -->
            <div id="task-action"><%= task.priority %></div>
            <!-- TASK EDIT -->
            <div id="task-action"><%= link_to edit_task_path(task) do %>
              <i class="fa fa-edit"></i>
              <% end %>
            </div>
            <!-- TASK DELETE -->
            <div id="task-action"><%= link_to task_path(task), method: :destroy do %>
                <i class="fa fa-trash"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <!-- MEDIUM PRIORITY TASKS -->
    <div class="container-col">
      <% @medium_priority_tasks.each do |task| %>
        <div class="card-task">

          <!-- TASK DETAILS -->
          <div class="task-details">
            <!-- TASK CHECKBOX -->
            <div id="status">
              <%= link_to mark_task_path(task), method: :patch do %>
                <% if task.task_status %>
                  <i class="fa fa-check-square"></i>
                <% else %>
                  <i class="fa fa-square"></i>
                <% end %>
              <% end %>
            </div>

            <!-- TASK NAME -->
            <div id="task-name">
            <p><strong><%= task.task_name%></strong></p>
            </div>
          </div>

          <!-- TASK ACTIONS -->
          <div class="task-actions">
            <!-- TASK PRIORITY -->
            <div id="task-action"><%= task.priority %></div>
            <!-- TASK EDIT -->
            <div id="task-action"><%= link_to edit_task_path(task) do %>
              <i class="fa fa-edit"></i>
              <% end %>
            </div>
            <!-- TASK DELETE -->
            <div id="task-action"><%= link_to task_path(task), method: :destroy do %>
                <i class="fa fa-trash"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

    <!-- LOW PRIORITY TASKS -->
    <div class="container-col">
      <% @low_priority_tasks.each do |task| %>
        <div class="card-task">

          <!-- TASK DETAILS -->
          <div class="task-details">

            <!-- TASK CHECKBOX -->
            <div id="status">
              <%= link_to mark_task_path(task), method: :patch do %>
                <% if task.task_status %>
                  <i class="fa fa-check-square"></i>
                <% else %>
                  <i class="fa fa-square"></i>
                <% end %>
              <% end %>
            </div>

            <!-- TASK NAME -->
            <div id="task-name">
            <p><strong><%= task.task_name%></strong></p>
            </div>
          </div>

          <!-- TASK ACTIONS -->
          <div class="task-actions">
            <!-- TASK PRIORITY -->
            <div id="task-action"><%= task.priority %></div>
            <!-- TASK EDIT -->
            <div id="task-action"><%= link_to edit_task_path(task) do %>
              <i class="fa fa-edit"></i>
              <% end %>
            </div>
            <!-- TASK DELETE -->
            <div id="task-action"><%= link_to task_path(task), method: :destroy do %>
                <i class="fa fa-trash"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

    </div>

    <div class="appointment-actions">
      <!-- <button class="btn-appointment"><%#= link_to new_task_path  do %>Add a new task<% end %></button> -->
    </div>
  </div>
