<%= render 'shared/navbar' %>
<div class="wrapper">
  <div class="main">

    <!-- TIMELINE -->
    <% if current_user.user_type == "user" %>
      <div class="slice-container">
        <h1>My Journey</h1>
          <% @milestones.each do |milestone| %>
            <ul>
              <li>
                <%= link_to milestone.milestone_title, edit_milestone_path(milestone) %>
                <%= milestone.milestone_date %>
                <%= milestone.achieved %>
              </li>
            </ul>
          <% end %>
      </div>
    <% end %>

    <!-- TASKS -->
    <div class="slice-container">
      <h1>TO DO</h1>
      <% if @current_user.user_type == "user"%>

      <!-- RECOMMENDED TASKS -->
        <h2>Recommended</h2>
        <% @recommended_tasks.each do |recommended_task| %>
            <ul>
              <li>
                <div style="display: flex">
                      <strong><%= recommended_task.task_name%></strong>
                      <%= link_to add_to_checklist_path(recommended_task),
                          method: :patch do %>
                        <i class="fa fa-plus"></i>
                      <% end %>
                </div>
              </li>
            </ul>
        <% end %>
      <% end %>

      <!-- MY TASKS LIST -->
      <h2>My check list <%= link_to new_task_path  do %> <i class="fa fa-plus"></i> <% end %> </h2>
        <% if @user_tasks.empty? %>
          <p>No tasks</p>
          <%= link_to new_task_path  do %>
            <i class="fa fa-plus"></i> Add a new task
          <% end %>
        <% else %>
          <% @high_priority_tasks.each do |task| %>
            <ul>
              <li>
                <div style="display: flex">
                  <%= link_to mark_task_path(task),
                    method: :patch do %>
                      <% if task.task_status %>
                        <i class="fa fa-check-square"></i>
                      <% else %>
                        <i class="fa fa-square"></i>
                      <% end %>
                    <% end %>

                  <strong><%= task.task_name%></strong>
                  <%= link_to edit_task_path(task) do %>
                    <% task.priority %>
                    <i class="fas fa-exclamation-triangle"></i>
                  <% end %>
                  <%= link_to edit_task_path(task) do %>
                    <i class="fa fa-edit"></i>
                  <% end %>
                  <%= link_to task_path(task),
                      method: :delete,
                      data: { confirm: "Are you sure?" } do %>
                      <i class="fa fa-trash"></i>
                      <% end %>
                </div>
              </li>
            </ul>
          <% end %>

          <% @medium_priority_tasks.each do |task| %>
            <ul>
              <li>
                <div style="display: flex">
                  <%= link_to mark_task_path(task),
                    method: :patch do %>
                      <% if task.task_status %>
                        <i class="fa fa-check-square"></i>
                      <% else %>
                        <i class="fa fa-square"></i>
                      <% end %>
                    <% end %>

                  <strong><%= task.task_name%></strong>
                  <%= link_to edit_task_path(task) do %>
                    <% task.priority %>
                    <i class="fas fa-exclamation-triangle"></i>
                  <% end %>
                  <%= link_to edit_task_path(task) do %>
                    <i class="fa fa-edit"></i>
                  <% end %>
                  <%= link_to task_path(task),
                      method: :delete,
                      data: { confirm: "Are you sure?" } do %>
                      <i class="fa fa-trash"></i>
                      <% end %>
                </div>
              </li>
            </ul>
          <% end %>

          <% @low_priority_tasks.each do |task| %>
            <ul>
              <li>
                <div style="display: flex">
                  <%= link_to mark_task_path(task),
                    method: :patch do %>
                      <% if task.task_status %>
                        <i class="fa fa-check-square"></i>
                      <% else %>
                        <i class="fa fa-square"></i>
                      <% end %>
                    <% end %>

                  <strong><%= task.task_name%></strong>
                  <%= link_to edit_task_path(task) do %>
                    <% task.priority %>
                    <i class="fas fa-exclamation-triangle"></i>
                  <% end %>
                  <%= link_to edit_task_path(task) do %>
                    <i class="fa fa-edit"></i>
                  <% end %>
                  <%= link_to task_path(task),
                      method: :delete,
                      data: { confirm: "Are you sure?" } do %>
                      <i class="fa fa-trash"></i>
                      <% end %>
                </div>
              </li>
            </ul>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
