<%= render 'shared/navbar' %>
<h1>Inbox</h1>
<!-- //SHOWS ONLY THE UNREAD MESSAGES -->
<h2>Unread Messages</h2>
<ul>
  <% @conversations.each do |conversation| %>
      <% if !conversation.unread_private_message_count(current_user).zero? %>
          <li> <%= link_to conversation.recipient(current_user).first_name + ' ' + conversation.recipient(current_user).last_name, conversation_private_messages_path(conversation) %>
        (<%= conversation.unread_private_message_count(current_user) %>)
      <% end %> </li>
  <% end %>
</ul>

<!-- //SHOWS ONLY THE USERS YOU STARTED A CHAT WITH -->
<!-- // FILTERS CONNECTIONS for users; you can only see people who you messaged/who messaged you-->
<h2>Your Connections</h2>
<ul>
  <% @conversations.each do |conversation| %>
    <% if conversation.receiver_id == current_user.id %>
      <%= link_to User.find(conversation.sender_id).first_name + " " + User.find(conversation.sender_id).last_name, conversations_path(sender_id: conversation.sender_id, receiver_id: current_user.id), method: :post %>
    <% else %>
      <%= link_to conversation.recipient(current_user).first_name + ' ' + conversation.recipient(current_user).last_name, conversation_private_messages_path(conversation) %>
    <% end %>
  <% end %>
</ul>
