  <div class="fullwidth-container" style="min-height: 300px; border-radius: 5px; background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url(<%= image_path "blankbanner.png" %>);">
      <div class="banner">
        <h2>Insights from the community</h2>
        <h4>Estimated time to <strong><%= @current_user.path_type.capitalize %></strong>: <%= @total_processing_time %></h4>
        <!-- TODO GENERATE MILESTONES BASED ON USER PATH -->
        <p class="card-milestone">CSQ Reception: <%= @av_db_csq_processing_time %> months</p>
        <p class="card-milestone">PR Application Receipt Confirmation: <%= @av_db_pr1_processing_time %> months</p>
        <p class="card-milestone">Medical Exam: <%= @av_db_pr2_processing_time %> months</p>
        <p class="card-milestone">PR Reception: <%= @av_db_pr3_processing_time %> months</p>
        <p class="card-milestone">PR Processing Time: <%= @total_av_processing_time %> months</p>
      </div>
  </div>
