<div class="main">
  <div class="footer">
    <div class="footer-column">
      <h1>Discover</h1>
      <ul>
        <li><%= link_to "Immigration paths", "/", class: "footer-link" %></li>
        <li><%= link_to "Service types", "/", class: "footer-link" %></li>
        <li><%= link_to "Advisors", "/", class: "footer-link" %></li>
      </ul>
    </div>

     <div class="footer-column">
      <h1>Services</h1>
        <li><%= link_to "Home", "/", class: "footer-link" %></li>
        <li><%= link_to "Profile", "/profile", class: "footer-link" %></li>
        <li><%= link_to "Dashboard", "/dashboard", class: "footer-link" %></li>
      <ul>

      </ul>
    </div>

     <div class="footer-column">
      <h1>Company</h1>
      <ul>
        <li>About us</li>
        <li>Our team</li>
        <li>Careers</li>
        <li>Terms of service use</li>
        <li>Privacy policy</li>
      </ul>
    </div>
  </div>
</div>
