<div class="footer">
  <div class="col">
    <h1>Discover</h1>
      <li><%= link_to "Immigration paths", "/", class: "link" %></li>
      <li><%= link_to "Service types", "/", class: "link" %></li>
      <li><%= link_to "Advisors", "/", class: "link" %></li>
  </div>

   <div class="col">
    <h1>Services</h1>
      <li><%= link_to "Home", "/", class: "link" %></li>
      <li><%= link_to "Profile", "/profile", class: "link" %></li>
      <li><%= link_to "Dashboard", "/dashboard", class: "link" %></li>
  </div>

   <div class="col">
    <h1>Company</h1>
      <li>About us</li>
      <li>Terms of service use</li>
      <li>Privacy policy</li>
  </div>
</div>
