<%= render 'shared/navbar' %>
<div class="main-container">
<h1>Messenger</h1>
<h2>Your Chat with <%= User.find(@conversation.receiver_id).first_name %></h2>

  <div class="container-conversation">
  <% @private_messages.each do |private_message| %>
      <% if private_message.body %>
        <div class= "card-message">
          <!-- <h4><#%= private_message.user.first_name %></h4> -->
          <div id="message-avatar"><%= image_tag private_message.user.imgUrl, class: "avatar" %></div>
          <div id="message-body"><%= private_message.body %></div>
        </div>
      <% end %>
  <% end %>
  </div>


<%= form_for [@conversation, @private_message] do |f| %>
  <div class="field">
    <%= f.text_area :body, placeholder: "Type a message" %>
  </div>

  <%= f.submit "Send", class: "btn-cta" %>
<% end %>

<%= link_to "Back", conversations_path, class: "btn-cta-border" %>
</div>
