<%= render 'shared/navbar' %>
<div class="main-container">
  <!-- MESSENGER HEADER -->
  <div class="sticky-top-bar">
    <%= link_to conversations_path do %>
      <i class="fas fa-arrow-left sticky-bar-item"></i>
    <% end %>
    <div class="sticky-bar-item" id="message-avatar ">
      <%= image_tag User.find(@conversation.receiver_id).imgUrl, class: "avatar" %>
    </div>
    <div class="sticky-bar-item">
      <h4><%= User.find(@conversation.receiver_id).first_name %> <%= User.find(@conversation.receiver_id).last_name %></h4>
    </div>
  </div>
  <br>

  <!-- CONVERSATION TABLE -->
  <div class="container-conversation">
    <% @private_messages.each do |private_message| %>
    <div class="row">
        <% if private_message.body %>
          <div class= "card-message">
            <div id="message-avatar"><%= image_tag private_message.user.imgUrl, class: "avatar" %></div>
            <div id="message-body"><%= private_message.body %></div>
          </div>
        <% end %>
      </div>
    <% end %>

<%= form_for [@conversation, @private_message] do |f| %>
  <div class="row">
    <%= f.text_area :body, placeholder: "Type a message", class: "message-input" %>
  <%= f.submit "Send", class: "btn-send-message" %>
  </div>
<% end %>
<% content_for :after_js do %>
  <script>
    scrollLastPrivateMessageIntoView();
  </script>
<% end %>
  </div>
</div>
