<div class="wrapper">
  <!-- HOMEPAGE BANNER WITH BUTTON -->
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/p-m-b/image/upload/v1582387301/canaduh/banner_dyx0ad.png);">
    <div class="banner-container">
      <h1><strong>Plan your journey and connect    with expert advisors to guide you    on the path to a new life.</h1>
      <div class="banner-search">
        <p>
          <%= form_tag services_path(current_user), method: :get do %>
            <%= text_field_tag :query,
            params[:query],
            class: "search-field",
            placeholder: 'Try "general consultation"'
            %>
            <a id="banner-link" class="btn btn-banner"><%= submit_tag "Get started"%></a>
            <% end %>
          </p>
        <!-- <a id="banner-link" class="btn btn-banner" href="/services">Get started</a> -->
      </div>
    </div>
  </div>

  <div class="main">
    <!--       HOMEPAGE PATH CARD ROW -->
    <div class="slice-container">
      <!-- HOMEPAGE CARD ROW HEADER -->
      <h1>Discover your path</h1>
          <div class="card-row">
            <a class="card-path" href="http://localhost:3000/services.15?query=student+visa&commit=Search" style="background-image: url(<%= image_path 'student-visa-path.jpg' %>)">
              <hr>
              <h1>STUDENT VISA</h1>
            </a>
            <a class="card-path" href="http://localhost:3000/services.15?query=work+visa&commit=Search" style="background-image: url(<%= image_path 'work-visa-path.jpg' %>)">
              <hr>
              <h1>WORK VISA</h1>
            </a>
            <a class="card-path" href="http://localhost:3000/services.15?query=permanent+residency&commit=Search" style="background-image: url(<%= image_path 'permanent-residency-path.jpg' %>)">
              <hr>
              <h1>PERMANENT RESIDENCY</h1>
            </a>
            <a class="card-path" href="http://localhost:3000/services.15?query=canadian+citizenship&commit=Search" style="background-image: url(<%= image_path 'citizenship-path.jpg' %>)">
              <hr>
              <h1>CANADIAN CITIZENSHIP</h1>
            </a>
          </div>
      <a id="card-row-sub-link" href="/services">Browse paths <i class='fas fa-long-arrow-alt-right' style='font-size:24px'></i></a>
    </div>
    <!-- HOMEPAGE SERVICE CARD ROW -->
    <div class="slice-container">
      <h1>Get expert advice</h1>
        <div class="card-row">
          <a class="card-service" href="http://localhost:3000/services.15?query=general+consultation&commit=Search" style="background-image: url(<%= image_path 'general-consultation-service.jpg' %>)">
            <hr>
            <h1>General consultation</h1>
          </a>
          <a class="card-service" href="http://localhost:3000/services.15?query=test+prep&commit=Search" style="background-image: url(<%= image_path 'test-prep-service.jpg' %>)" >
            <hr>
            <h1>Test preparation</h1>
          </a>
          <a class="card-service" href="http://localhost:3000/services.15?query=ongoing+assistance&commit=Search" style="background-image:url(<%= image_path 'complete-care-service.jpg' %>)">
            <hr>
            <h1>Comprehensive assistance</h1>
          </a>
        </div>
      <a id="card-row-sub-link" href="/services">All services <i class='fas fa-long-arrow-alt-right' style='font-size:24px'></i></a>
    </div>

  <!-- HOMEPAGE ADVISOR CARD ROW -->
    <div class="slice-container">
      <h1>Connect with advisors</h1>
        <div class="card-row">
          <div class="card-advisor">
            <img src="https://res.cloudinary.com/drgcg7n83/image/upload/v1582242431/John_Doe_advisor.jpg">
            <h1>John Doe</h1>
            <p>Immigration specialist located in Montreal, Quebec.</p>
            <button class="btn-flat">Connect</button>
          </div>
           <div class="card-advisor">
            <img src="https://res.cloudinary.com/drgcg7n83/image/upload/v1582242430/Trevor_McGill_advisor.jpg">
            <h1>Trevor McGill</h1>
            <p>Law professor located in Montreal, Quebec.</p>
            <button class="btn-flat">Connect</button>
          </div>
           <div class="card-advisor">
            <img src="https://res.cloudinary.com/drgcg7n83/image/upload/v1582242674/Lisa_Goodwill_advisor.jpg">
            <h1>Lisa Goodwill</h1>
            <p>Certificed ESL instructor located in Montreal, Quebec.</p>
            <button class="btn-flat">Connect</button>
          </div>
           <div class="card-advisor">
            <img src="https://res.cloudinary.com/drgcg7n83/image/upload/v1582242674/Alice_Fraser_advisor.jpg">
            <h1>Alice Fraser</h1>
            <p>Immigration specialist located in Montreal, Quebec.</p>
            <button class="btn-flat">Connect</button>
          </div>
        </div>
        <div id="card-row-sub-link">
          <p>Browse advisors</p>
          <i class='fas fa-long-arrow-alt-right' style='font-size:24px'></i>
        </div>
    </div>
    </div>
  </div>
</div>
