<%= render 'shared/navbar' %>
<div class="fullwidth-container" style="min-height: 300px; background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url(<%= image_path 'blankbanner.png' %>);">
  <div class="banner">
    <h1 style="margin-bottom: 5px;">Welcome to your dashboard <%= @current_user.first_name %></h1>
    <p>Here you can manage and keep track of tasks you'll need to complete to get where your going.</p>
  </div>
</div>

<div class="main-container">

    <!-- JOURNEY -->
    <% if current_user.user_type == "user" && current_user.path_type == "permanent residency" %>
      <h1>My Journey</h1>
      <div class="row">
        <h3>Percentage of completion: </h3>
        <h3><strong><%= (@percent_completion.round(1) * 100).to_i %>%</strong></h3>
      </div>

      <!-- COMPLETED MILESTONES    -->
      <div class="container-cols">
        <% @milestones.each do |milestone| %>
          <div class="row">
            <p>
              <%= link_to milestone.milestone_title, edit_milestone_path(milestone) %>
              <%= milestone.milestone_date %>
              <% milestone.achieved %>
            </p>
          </div>
        <% end %>
      </div>

      <!-- FOR RM - DO NOT STYLE NOR REMOVE    -->
      <p>User' processing time: <%= @total_processing_time %></p>
      <ol>
        <li>CSQ Reception: <%= @csq_processing_time %> months</li>
        <li>PR Application Receipt Confirmation: <%= @pr1_processing_time %> months</li>
        <li>Medical Exam: <%= @pr2_processing_time %> months</li>
        <li>PR Reception: <%= @pr3_processing_time %> months</li>
        <li>PR Processing Time: <%= @total_pr_processing_time %> months</li>
      </ol>
      <br>

      <!-- DYNAMIC PROCESSING TIMES -->
      <h2>Real time processing times</h2>
      <p>Total journey time: <%= @total_processing_time %></p>
      <div class="container-cols">
        <p>CSQ Reception: <%= @av_db_csq_processing_time %> months</p>
        <p>PR Apppcation Receipt Confirmation: <%= @av_db_pr1_processing_time %> months</p>
        <p>Medical Exam: <%= @av_db_pr2_processing_time %> months</p>
        <p>PR Reception: <%= @av_db_pr3_processing_time %> months</p>
        <p>PR Processing Time: <%= @total_av_processing_time %> months</p>
      </div>
    <% end %>

  <!-- USER APPOINTMENTS -->
  <% if @current_user.user_type == "user" %>
      <h1>Appointments</h1>
      <% if @appointments.empty? %>
        <p>No appointments scheduled yet</p>
      <% else %>
        <% @appointments.each do |appointment| %>
          <div class="row">
            <div class="dashboard-appointment-container">
              <h1><%= Service.find(appointment.service_id).service_type.upcase %></h1>
              <h2><strong>Immigration path:</strong> <%= Service.find(appointment.service_id).path %></h2>
              <p><strong>Advisor:</strong> <%= Service.find(appointment.service_id).user.first_name %> <%= Service.find(appointment.service_id).user.last_name %></p>
              <p><strong>Date:</strong><%= appointment.date %></p>
              <p id="appointment-status"><strong>Status:</strong> <%= appointment.status %></p>
              <pre><%= link_to "Edit", "#" %> <%= link_to "Delete", "#", method: :delete %></pre>
            </div>
          </div>
        <% end %>
      <% end %>
  <% else %>
  <!-- NO ELSE STATEMENT? -->
  <% end %>

  <!-- IF THE USER IS ADVISOR DISPLAY ADVISOR BOOKINGS -->
  <% if @current_user.user_type == "advisor" %>
    <!-- // ADVISOR BOOKINGS -->
    <h2>Bookings and appointments</h2>
    <% if @advisor_appointments.empty? %>
      <p>No appointments scheduled yet</p>
    <% else %>
      <% @advisor_appointments.each do |appointment| %>
        <div class="card-appointment">
          <% service = Service.find(appointment.service_id) %>
          <h1><%= service.service_type.upcase %></h1>
          <div class="image">
            <img src="<%= service.user.imgUrl %>">
          </div>
          <p><strong>Advisor:</strong> <%= User.find(appointment.user_id).first_name %> <%= User.find(appointment.user_id).last_name %></p>
          <p><strong>Immigration path:</strong> <%= service.path %></p>
          <p><strong>Date:</strong> <%= appointment.date %></p>
          <p id="appointment-status"><strong>Status:</strong> <%= appointment.status.capitalize %></p>
          <% if appointment.status == 'declined' %>
            <pre><%= link_to "Delete", service_appointment_path(service, appointment), method: :delete %></pre>
          <% end %>
          <% if appointment.status == 'pending confirmation' %>
            <div class="appointment-actions">
             <button class="btn-appointment"> <%= link_to "Confirm", service_appointment_path(service, appointment, status: :confirmed), method: :patch %> </button>
             <button class="btn-appointment"> <%= link_to 'Decline', service_appointment_path(service, appointment, status: :declined), method: :patch %> </button>
            </div>
          <% end %>
        </div>
      <% end %>
  <% end %>

  <!-- // CONFIGURED ADVISOR SERVICES -->
    <h2>Your active services</h2>
    <% if @services.empty? %>
      <p>No services</p>
      <pre><%= link_to "Add", "#" %></pre>
    <% else %>
      <% @services.each do |service| %>
        <div class="dashboard-service-container">
          <h1><%= service.service_type.upcase %></h1>
          <h2><strong>Immigration path:</strong> <%= service.path %></h2>
          <p><strong>Description:</strong> <%= service.description %></p>
          <p><strong>Pricing:</strong> $<%= service.price %>/hour</p>
          <pre><%= link_to "Edit", "#" %> <%= link_to "Delete", "#", method: :delete %></pre>
        </div>
      <% end %>
    <% end %>
  <% else %>
  <% end %>

<!-- TASK REMINDER -->
  <div class="dashboard-row">
    <h1>Reminder</h1>
  </div>
  <% if @high_priority_tasks.empty? %>
    <div class="dashboard-row">
      <p>No urgent tasks</p>
    </div>
  <% else %>

    <% @high_priority_tasks.each do |task| %>
      <div class="card-task">
        <div class="task-details">
        <!-- TASK CHECKBOX -->
        <!-- <div id="status">
          <#%= link_to mark_task_path(task), method: :patch do %>
            <#% if task.task_status %>
              <i class="fa fa-check-square"></i>
            <#% else %>
              <i class="fa fa-square"></i>
            <#% end %>
          <#% end %>
        </div> -->
        <!-- TASK NAME -->
        <div id="task-name">
        <p><strong><%= task.task_name%></strong></p>
        </div>
        </div>
        <!-- TASK ACTIONS -->
        <div class="task-actions">
          <!-- TASK PRIORITY -->
          <div id="task-action"><strong>Priority: <%= task.priority %></strong></div>
          <!-- TASK EDIT -->
          <div id="task-action"><%= link_to edit_task_path(task) do %>
            <i class="fa fa-edit"></i>
            <% end %>
          </div>
          <!-- TASK DELETE -->
          <div id="task-action"><%= link_to task_path(task), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="fa fa-trash"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= link_to "Planner", "/tasks", class: "btn-cta" %>
   </div>
