<div class="fullwidth-container" style="min-height: 300px; background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url(<%= image_path 'blankbanner.png' %>);">
  <div class="banner">
    <h1 style="margin-bottom: 5px;">Welcome to your dashboard <%= @current_user.first_name %></h1>
    <p>Here you can manage and keep track of tasks you'll need to complete to get where you're going.</p>
  </div>
</div>

<div class="main-container">

  <!-- JOURNEY AND MILESTONES -->
  <div class="slice-container">
    <!-- TODO ADD LOGIC FOR ALL PATHS -->
    <% if current_user.user_type == "user" && current_user.path_type == "permanent residency" %>
    <!-- COMPLETED MILESTONES    -->

  <div class="border-container" style="background-color: white; border: 1px solid $black !important; padding: 20px; border-radius: 10px; box-shadow: 1px 1px 3px rgba(0,0,0,0.1);">
    <div class="row">
      <h4><strong>Journey progress:</strong></h4>
      <h5><strong><%= (@percent_completion.round(1) * 100).to_i %>% complete</strong></h5>
    </div>

    <p>The key milestones on the path to <strong><%= @current_user.path_type.titleize %></strong>.</p>

     <ul class="timeline" id="timeline" style="padding:0px;">
      <div class='dashboard-container'>
      <% @milestones.each do |milestone| %>
        <% if milestone.achieved == true %>
            <div class='flex'>
              <li class="li complete">
                <div class="timestamp">
                  <p class="author"> <strong><%= milestone.milestone_title %></strong></p>
                </div>
                <div class="status">
                  <p> <%= milestone.milestone_date.to_time.strftime('%B %e, %Y') %> </p>
                </div>
              </li>
            </div>
        <% else %>
            <div class='flex'>
              <li class="li">
                <div class="timestamp">
                  <p class="author"><strong><%= milestone.milestone_title %></strong></p>
                </div>
                <div class="status">
                  <p> In Progress </p>
                </div>
              </li>
            </div>
          <% end %>
        <% end %>
    </div>
  </ul>
</div>

<br>

    <div class="container-cols">
      <% @milestones.each do |milestone| %>
        <div class="card-task">
          <div class="task-details">
            <% if milestone.achieved == true %>
              <i class="fas fa-check" id="status"></i>
            <% else %>
              <i class="fas fa-times" id="status" style="color: black;"></i>
            <% end %>

            <div id="milestone"><strong><%= milestone.milestone_title %></strong></div>
          </div>
          <div class="task-actions">
            <% if milestone.achieved == true %>
              <%= form_for(milestone) do |f| %>
                <%= f.text_field :milestone_date, class: 'datepicker1', placeholder: milestone.milestone_date.to_time.strftime('%B %e, %Y'), onchange: 'this.form.submit();' %>
              <% end %>
            <% else %>
              <%= form_for(milestone) do |f| %>
                <%= f.hidden_field :achieved, value: 1 %>
                <%= f.text_field :milestone_date, class: 'datepicker1', placeholder: "In progress", onchange: 'this.form.submit();'%>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <br>
<!-- COMMUNITY INSIGHTS BANNER -->
  <div class="fullwidth-container" style="min-height: 300px; border-radius: 5px;  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url(<%= image_path 'blankbanner.png' %>); background-color: white; border: 1px solid $black !important; border-radius: 10px; box-shadow: 1px 1px 3px rgba(0,0,0,0.1);">
      <div class="banner" style="margin: 30px;">
        <div class="row">
          <div class="col" style="padding: 0px;">
        <h4>Estimated times to <strong><%= @current_user.path_type.titleize %></strong>: <%= @total_processing_time %></h4>
        <p>Based on community insights.</p>
        <!-- TODO GENERATE MILESTONES BASED ON USER PATH -->

          <p class="card-milestone"><strong>Total time for PR path: <%= @total_av_processing_time %> months</strong></p>
          <p class="card-milestone">CSQ Reception: <%= @av_db_csq_processing_time %> months</p>
          <p class="card-milestone">PR Application Receipt Confirmation: <%= @av_db_pr1_processing_time %> months</p>
          <p class="card-milestone">Medical Exam: <%= @av_db_pr2_processing_time %> months</p>
          <p class="card-milestone">PR Reception: <%= @av_db_pr3_processing_time %> months</p>

        </div>
          <div style="width: 22vw; height: 22vw; align-self: center; margin-right: 50px; margin-top: 20px;"><%= image_tag 'waiting.svg' %></div>
        </div>

      </div>
  </div>


  <!-- TASK REMINDER -->
  <div class="slice-container">
    <div class="row">
      <h4><strong>Planner</strong></h4>
    </div>
    <% if @high_priority_tasks.empty? %>
      <div class="row">
        <p>No outstanding important tasks.</p>
      </div>
    <% else %>
      <p>Here's a reminder of your most important tasks</p>
      <% @high_priority_tasks.each do |task| %>
        <div class="card-task">
          <div class="task-details">
            <!-- TASK CHECKBOX -->
            <div id="status">
              <%= link_to mark_task_path(task), method: :patch do %>
                <% if task.task_status %>
                  <i class="far fa-check-square"></i>
                <% else %>
                  <i class="far fa-square"></i>
                <% end %>
              <% end %>
              </div>
            <!-- TASK NAME -->
            <div id="task-name">
              <p><strong><%= task.task_name%></strong></p>
            </div>
          </div>
          <!-- TASK ACTIONS -->
          <div class="task-actions">
            <!-- TASK PRIORITY -->
            <p id="priority-tag"><strong>Priority: </strong>
            <div id="task-priority-high"><%= task.priority %></div>
            <!-- TASK EDIT -->
            <div id="task-action"><%= link_to edit_task_path(task) do %>
              <i class="fa fa-edit"></i>
              <% end %>
            </div>
            <!-- TASK DELETE -->
            <!-- TODO REDIRECT STAYS ON DASHBOARD -->
            <div id="task-action"><%= link_to task_path(task), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fa fa-trash"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
      <br>
    <%= link_to "Full list", "/tasks", class: "btn-cta-border" %>
  </div>

  <!-- USER APPOINTMENTS -->
  <div class="slice-container">
    <% if @current_user.user_type == "user" %>
      <h4><strong>Appointments</strong></h4>
      <% if @appointments.empty? %>
        <p>Need guidance? Book an appointment with Canaduh's certified advisors.</p>
        <p> Canaduh recommends <strong> General Consultation </strong> for first-time visitors.</p>
        <br>
        <%= link_to "Book now", "/services", class: "btn-cta-border" %>
      <% else %>
        <p>Manage your upcoming appointments with your advisor.</p>
        <% @appointments.each do |appointment| %>
          <div data-appointment-id="<%= appointment.id%>" data-appointment-pending="<%= appointment.status%>" class="card-inline-appointment">
            <div class="row">
              <%= image_tag Service.find(appointment.service_id).user.imgUrl, class: "avatar" %>
              <div class="appointment-details">
                <div id="appointment-type">
                  <strong><%= Service.find(appointment.service_id).service_type.upcase %></strong>
                </div>
                <div class="row">
                  <div id="advisor-name">
                    with <strong> <%= Service.find(appointment.service_id).user.first_name %> <%= Service.find(appointment.service_id).user.last_name %> </strong>
                  </div>
                  <div id="chat-icon">
                    <%= link_to conversations_path(sender_id: current_user.id, receiver_id: Service.find(appointment.service_id).user.id), method: :post do %>
                    <i class="far fa-comment-alt"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="appointment-schedule">
              <div id="appointment-date"><strong>Date: </strong><%= appointment.date.to_time.strftime('%B %e, %Y at %l:%M %p')  %></div>
              <div class="appointment-status"> <strong>Status: </strong><%= appointment.status.capitalize %></div>
              <!-- <pre><%#= link_to "Edit", "#" %> <%= link_to "Delete", "#", method: :delete %></pre> -->
            </div>
          </div>
        <% end %>
        <br>
        <%= link_to "Book now", "/services", class: "btn-cta-border" %>
      <% end %>
    <% else %>
    <!-- NO ELSE STATEMENT? -->
    <% end %>
  </div>


  <!-- USER RIDES BOOKINGS -->
    <div class="slice-container">
        <h4><strong>Flagpoling rides</strong></h4>

        <% if @rider_bookings.empty? && @user_bookings.empty? %>
          <p>Use Canaduh's carpooling service to hitch a ride to the border.</p>
          <%= link_to "Find a ride", "/rides", class: "btn-cta-border" %>
        <% else %>
          <!-- IF CURRENT USER IS THE RIDER -->
          <p>Manage your upcoming rides to the Border</p>
          <% @rider_bookings.each do |booking| %>
          <div class="card-inline-appointment">
            <div class="row">
              <%= image_tag booking.user.imgUrl, class: "avatar" %>
              <div class="appointment-details">
                <br>
                <div class="row">
                  <div id="advisor-name">
                    with <strong> <%= booking.user.first_name %> <%= booking.user.last_name %> </strong>
                  </div>
                  <div id="chat-icon">
                    <%= link_to conversations_path(sender_id: current_user.id, receiver_id: booking.user.id), method: :post do %>
                    <i class="far fa-comment-alt"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="appointment-schedule">
              <% ride = Ride.find(booking.ride_id) %>
              <% ride_id = Ride.find(booking.ride_id).id %>
              <% departure_address =  @departure_addresses.find_by(ride_id: ride_id) %>
              <% destination_address =  @destination_addresses.find_by(ride_id: ride_id) %>
              <div id="appointment-date"><strong>From: </strong> <%= departure_address.address %></div>
              <div id="appointment-date"><strong>To: </strong> <%= destination_address.address  %></div>
              <div id="appointment-date"><strong>Date: </strong> <%= ride.ride_date.to_time.strftime('%B %e, %Y at %l:%M %p')  %></div>
              <div id="appointment-status"><strong>Status: </strong> <%= booking.booking_status.capitalize %></div>

              <% if booking.booking_status == 'pending' %>
                <% @ride_link = Ride.find(booking.ride_id) %>
                <div class="appointment-actions">
                  <%= link_to "Confirm", ride_booking_path(@ride_link, booking.id, booking_status: :booked), method: :patch, class: "btn-accept" %>
                  <%= link_to 'Decline', ride_booking_path(@ride_link, booking, booking_status: :declined), method: :patch, class: "btn-decline" %>
                </div>
              <% end %>

              <% if booking.booking_status == 'declined' %>
                <% @ride_link = Ride.find(booking.ride_id) %>
                <%= link_to ride_booking_path(@ride_link, booking), method: :delete do %>
                  <i class="fas fa-times" style="margin-left: 8px"></i>
                <% end %>
              <% end %>
              <%= link_to "Delete", ride_booking_path(Ride.find(booking.ride_id), booking), method: :delete %>
            </div>
          </div>
          <% end %>

          <!-- IF CURRENT USER IS NOT THE RIDER -->
          <% @user_bookings.each do |booking| %>
          <div class="card-inline-appointment">
            <div class="row">
              <%= image_tag Ride.find(booking.ride_id).user.imgUrl, class: "avatar" %>
              <div class="appointment-details">
                <br>
                <div class="row">
                  <div id="advisor-name">
                    with <strong><%= Ride.find(booking.ride_id).user.first_name %> <%= Ride.find(booking.ride_id).user.last_name %></strong>
                  </div>
                  <div id="chat-icon">
                    <%= link_to conversations_path(sender_id: current_user.id, receiver_id: Ride.find(booking.ride_id).user.id), method: :post do %>
                    <i class="far fa-comment-alt"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="appointment-schedule">
              <% ride = Ride.find(booking.ride_id) %>
              <% ride_id = Ride.find(booking.ride_id).id %>
              <% departure_address =  @departure_addresses.find_by(ride_id: ride_id) %>
              <% destination_address =  @destination_addresses.find_by(ride_id: ride_id) %>
              <div id="appointment-date"><strong>From: </strong><%= departure_address.address  %></div>
              <div id="appointment-date"><strong>To: </strong><%= destination_address.address  %></div>
              <div id="appointment-date"><strong>Date: </strong><%= Ride.find(booking.ride_id).ride_date.to_time.strftime('%B %e, %Y')  %></div>
              <div id="appointment-status"><strong>Status: </strong><%= booking.booking_status.capitalize %></div>
              <% if booking.booking_status == 'declined' %>
                <%= link_to "Delete", ride_booking_path(Ride.find(booking.ride_id), booking), method: :delete %>
              <% end %>
            </div>
          </div>
          <% end %>
        <br>
        <%= link_to "Find a ride", "/rides", class: "btn-cta-border" %>
        <% end %>
    </div>
<% end %>

  <!-- IF THE USER IS ADVISOR DISPLAY ADVISOR BOOKINGS -->
  <% if @current_user.user_type == "advisor" %>
    <div class="slice-container">
      <!-- // ADVISOR BOOKINGS -->
      <h2>Scheduled appointments</h2>
      <% if @advisor_appointments.empty? %>
        <p>No appointments scheduled yet</p>
      <% else %>
        <% @advisor_appointments.each do |appointment| %>
          <div class="card-inline-appointment">
            <div class="row">
              <%= image_tag User.find(appointment.user_id).imgUrl, class: "avatar" %>
              <div class="appointment-details">
                <div id="appointment-type">
                  <strong><%= Service.find(appointment.service_id).service_type.upcase %></strong>
                </div>
                <div class="row">
                  <div id="advisor-name">
                    with <strong><%= User.find(appointment.user_id).first_name %> <%= User.find(appointment.user_id).last_name %></strong>
                  </div>
                  <div id="chat-icon">
                    <%= link_to conversations_path(sender_id: current_user.id, receiver_id: appointment.user.id), method: :post do %>
                    <%# conv %>
                    <i class="far fa-comment-alt"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="appointment-schedule">
              <div id="appointment-date">
                <strong>Date: </strong><%= appointment.date.to_time.strftime('%B %e, %Y at %l:%M %p')  %>
              </div>
              <div id="appointment-status">
                <strong>Status:</strong> <%= appointment.status.capitalize %>
              </div>

              <% if appointment.status == 'declined' %>
                <% @service_link = Service.find(appointment.service_id) %>
                <%= link_to service_appointment_path(@service_link, appointment), method: :delete do %>
                  <i class="fas fa-times" style="margin-left: 8px"></i>
                <% end %>
              <% end %>

              <% if appointment.status == 'pending confirmation' %>
                <% @service_link = Service.find(appointment.service_id) %>
                <div class="appointment-actions">
                  <%= link_to "Accept", service_appointment_path(@service_link, appointment.id, status: :confirmed), method: :patch, class: "btn-accept" %>
                  <%= link_to 'Decline', service_appointment_path(@service_link, appointment, status: :declined), method: :patch, class: "btn-decline" %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
    </div>
    <!-- TASK REMINDER -->
    <div class="slice-container">
      <div class="row">
        <h4>Task planner</h4>
      </div>
      <% if @high_priority_tasks.empty? %>
        <div class="row">
          <p>No outstanding high priority tasks.</p>
        </div>
      <% else %>
        <% @high_priority_tasks.each do |task| %>
          <div class="card-task">
            <div class="task-details">
              <!-- TASK CHECKBOX -->
              <div id="status">
                <%= link_to mark_task_path(task), method: :patch do %>
                  <% if task.task_status %>
                    <i class="fa fa-check-square"></i>
                  <% else %>
                    <i class="fa fa-square"></i>
                  <% end %>
                <% end %>
                </div>
              <!-- TASK NAME -->
              <div id="task-name">
                <p><strong><%= task.task_name%></strong></p>
              </div>
            </div>
            <!-- TASK ACTIONS -->
            <div class="task-actions">
              <!-- TASK PRIORITY -->
              <div id="task-action"><strong>Priority: <%= task.priority %></strong></div>
              <!-- TASK EDIT -->
              <div id="task-action"><%= link_to edit_task_path(task) do %>
                <i class="fa fa-edit"></i>
                <% end %>
              </div>
              <!-- TASK DELETE -->
              <!-- TODO REDIRECT STAYS ON DASHBOARD -->
              <div id="task-action"><%= link_to task_path(task), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="fa fa-trash"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <br>
      <%= link_to "Full list", "/tasks", class: "btn-cta-border"  %>
    </div>
  <% end %>

<!-- TODO SEND TO PROFILE PAGE -->
<br>
<br>
<br>

<% end %>

</div>
</div>
<!-- <script language="javascript" type="text/javascript">setTimeout("location.reload();",20000);</script>
 -->
