<%= render 'shared/navbar' %>
<div class="fullwidth-container" style="min-height: 300px; background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url(<%= image_path 'blankbanner.png' %>);">
  <div class="banner">
    <h1 style="margin-bottom: 5px;">Welcome to your dashboard <%= @current_user.first_name %></h1>
    <p>Here you can manage and keep track of tasks you'll need to complete to get where your going.</p>
  </div>
</div>

<div class="main-container">

  <!-- JOURNEY AND MILESTONES -->
  <div class="slice-container">
    <!-- TODO ADD LOGIC FOR ALL PATHS -->
    <% if current_user.user_type == "user" && current_user.path_type == "permanent residency" %>
      <div class="row">
        <h4>Journey progress: </h4>
        <h5><strong><%= (@percent_completion.round(1) * 100).to_i %>% complete</strong></h5>
      </div>

    <!-- COMPLETED MILESTONES    -->
    <div class="container-cols">
      <% @milestones.each do |milestone| %>
        <div class="card-task">
          <div class="task-details">
            <% if milestone.achieved == true %>
              <i class="fas fa-check" id="status"></i>
            <% else %>
              <i class="fas fa-times" id="status" style="color: black;"></i>
            <% end %>
            <div id="milestone"><strong><%= link_to milestone.milestone_title, edit_milestone_path(milestone) %></strong></div>
          </div>
          <div class="task-actions">
            <% if milestone.achieved == true %>
            <%= milestone.milestone_date.to_time.strftime('%B %e') %>
            <!-- <#% milestone.achieved %> -->
            <% else %>
            In progress
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<!-- TASK REMINDER -->
<div class="slice-container">
  <div class="row">
    <h4>Path planner</h4>
  </div>
  <% if @high_priority_tasks.empty? %>
    <div class="row">
      <p>No outstanding high priority tasks</p>
    </div>
  <% else %>
    <% @high_priority_tasks.each do |task| %>
      <div class="card-task">
        <div class="task-details">
        <!-- TASK NAME -->
        <div id="task-name">
        <p><strong><%= task.task_name%></strong></p>
        </div>
        </div>
        <!-- TASK ACTIONS -->
        <div class="task-actions">
          <!-- TASK PRIORITY -->
          <div id="task-action"><strong>Priority: <%= task.priority %></strong></div>
          <!-- TASK EDIT -->
          <div id="task-action"><%= link_to edit_task_path(task) do %>
            <i class="fa fa-edit"></i>
            <% end %>
          </div>
          <!-- TASK DELETE -->
          <!-- TODO REDIRECT STAYS ON DASHBOARD -->
          <div id="task-action"><%= link_to task_path(task), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="fa fa-trash"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
    <br>
  <%= link_to "Full list", "/tasks", class: "btn-cta" %>
   </div>


  <!-- USER APPOINTMENTS -->
  <div class="slice-container">
    <% if @current_user.user_type == "user" %>
      <h4>Upcoming appointments</h4>
      <% if @appointments.empty? %>
        <p>No scheduled appointments</p>
      <% else %>
        <% @appointments.each do |appointment| %>
          <div class="card-inline-appointment">
            <div class="appointment-details">
              <div id="appointment-type"><strong><%= Service.find(appointment.service_id).service_type.upcase %></strong></div>
              <div id="advisor-name">with <%= Service.find(appointment.service_id).user.first_name %> <%= Service.find(appointment.service_id).user.last_name %></div>
              <!-- TODO ADD CONNECT AND MESSAGE BUTTONS -->
            </div>

            <div class="appointment-schedule">
              <div id="appointment-date"><strong>Date: </strong><%= appointment.date.to_time.strftime('%B %e at %l:%M %p')  %></div>
              <div id="appointment-status"><strong><%= appointment.status.capitalize %></strong></div>
              <!-- <pre><%#= link_to "Edit", "#" %> <%= link_to "Delete", "#", method: :delete %></pre> -->
            </div>
          </div>
        <% end %>
        <br>
        <%= link_to "Book now", "/services", class: "btn-cta-border" %>
      <% end %>
    <% else %>
    <!-- NO ELSE STATEMENT? -->
    <% end %>
  </div>





  <!-- FOR RM - DO NOT STYLE NOR REMOVE    -->
  <p>User' processing time: <%= @total_processing_time %></p>
  <ol>
    <li>CSQ Reception: <%= @csq_processing_time %> months</li>
    <li>PR Application Receipt Confirmation: <%= @pr1_processing_time %> months</li>
    <li>Medical Exam: <%= @pr2_processing_time %> months</li>
    <li>PR Reception: <%= @pr3_processing_time %> months</li>
    <li>PR Processing Time: <%= @total_pr_processing_time %> months</li>
  </ol>
  <br>


<!-- GET STARTED BANNER -->
  <div class="fullwidth-container" style="min-height: 300px; border-radius: 5px; background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url(<%= image_path "blankbanner.png" %>);">
      <div class="container-cols">
        <h2>Delay time insights from the community</h2>
        <h4>Total journey time: <%= @total_processing_time %></h4>
      <div class="container-cols">
        <p class="card-task">CSQ Reception: <%= @av_db_csq_processing_time %> months</p>
        <p class="card-task">PR Apppcation Receipt Confirmation: <%= @av_db_pr1_processing_time %> months</p>
        <p class="card-task">Medical Exam: <%= @av_db_pr2_processing_time %> months</p>
        <p class="card-task">PR Reception: <%= @av_db_pr3_processing_time %> months</p>
        <p class="card-task">PR Processing Time: <%= @total_av_processing_time %> months</p>
      </div>
    <% end %>
      </div>
  </div>




  <!-- IF THE USER IS ADVISOR DISPLAY ADVISOR BOOKINGS -->
  <% if @current_user.user_type == "advisor" %>
    <!-- // ADVISOR BOOKINGS -->
    <h2>Bookings and appointments</h2>
    <% if @advisor_appointments.empty? %>
      <p>No appointments scheduled yet</p>
    <% else %>
      <% @advisor_appointments.each do |appointment| %>
        <div class="card-appointment">
          <% service = Service.find(appointment.service_id) %>
          <h1><%= service.service_type.upcase %></h1>
          <div class="image">
            <img src="<%= service.user.imgUrl %>">
          </div>
          <p><strong>Advisor:</strong> <%= User.find(appointment.user_id).first_name %> <%= User.find(appointment.user_id).last_name %></p>
          <p><strong>Immigration path:</strong> <%= service.path %></p>
          <p><strong>Date:</strong> <%= appointment.date %></p>
          <p id="appointment-status"><strong>Status:</strong> <%= appointment.status.capitalize %></p>
          <% if appointment.status == 'declined' %>
            <pre><%= link_to "Delete", service_appointment_path(service, appointment), method: :delete %></pre>
          <% end %>
          <% if appointment.status == 'pending confirmation' %>
            <div class="appointment-actions">
             <button class="btn-appointment"> <%= link_to "Confirm", service_appointment_path(service, appointment, status: :confirmed), method: :patch %> </button>
             <button class="btn-appointment"> <%= link_to 'Decline', service_appointment_path(service, appointment, status: :declined), method: :patch %> </button>
            </div>
          <% end %>
        </div>
      <% end %>
  <% end %>

  <!-- // CONFIGURED ADVISOR SERVICES -->
    <h2>Your active services</h2>
    <% if @services.empty? %>
      <p>No services</p>
      <pre><%= link_to "Add", "#" %></pre>
    <% else %>
      <% @services.each do |service| %>
        <div class="dashboard-service-container">
          <h1><%= service.service_type.upcase %></h1>
          <h2><strong>Immigration path:</strong> <%= service.path %></h2>
          <p><strong>Description:</strong> <%= service.description %></p>
          <p><strong>Pricing:</strong> $<%= service.price %>/hour</p>
          <pre><%= link_to "Edit", "#" %> <%= link_to "Delete", "#", method: :delete %></pre>
        </div>
      <% end %>
    <% end %>
  <% else %>
  <% end %>

</div>

