<!-- HEREO BANNER WITH ONBOARDING FORM -->
<div class="hero-container" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url(<%= image_path 'herobanner.png' %>);">
  <div class="banner">
    <div class="hero-form">
      <% if user_signed_in? %>
        <%= render 'shared/onboarding_form' %>
        <% end %>
    </div>
  </div>
</div>

<div class="main-container">
    <!-- ADVISOR REVIEWS -->
  <%= render 'shared/advisor-review-slice' %>
  <!-- VALUE PROPS -->
  <%= render 'shared/valueprop-slice' %>
  <!-- GET STARTED BANNER -->
  <%= render 'shared/banner-search-services' %>
  <!-- SERVICES BY PATH CARDS -->
  <%= render 'shared/browse-paths-slice' %>
</div>
