<!-- HEREO BANNER WITH ONBOARDING FORM -->
<div class="hero-container" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url(<%= image_path 'herobanner.png' %>);">
  <div class="banner">
    <div class="hero-form">
      <% if user_signed_in? %>
        <%= render 'shared/onboarding_form' %>
      <% else %>
        <div class="banner" style="margin-left:0px;">
      <h1>Discover your path, plan the journey and connect    with expert advisors to guide you    to a new life.</h1>
        <a class="btn-cta-white" href="/users/sign_up">Get started</a>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="main-container">
    <!-- ADVISOR REVIEWS -->
  <%= render 'shared/advisor-review-slice' %>
  <!-- VALUE PROPS -->
  <%= render 'shared/valueprop-slice' %>
  <!-- GET STARTED BANNER -->
  <%= render 'shared/banner-search-services' %>
  <!-- SERVICES BY PATH CARDS -->
  <%= render 'shared/browse-paths-slice' %>
</div>
