<!-- HEREO BANNER WITH ONBOARDING FORM -->
<div class="hero-container" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url(<%= image_path 'herobanner.png' %>);">
  <div class="banner">
    <div class="hero-form" style="background-image: url(<%= image_path 'tempform.png' %>);">
    </div>
  </div>
</div>

<%#= render 'shared/onboarding_form' %>

<div class="main-container">

    <!-- ADVISOR REVIEWS -->
  <div class="slice-container">
    <!-- HEADER  -->
    <h2>What people are saying about services at Canaduh</h2>
    <p><i class="fas fa-ribbon" style="color: red; font-size: 21px;"></i> Canaduh services were rated <strong>4.7 out of 5 stars</strong> with <strong>3,000+ reviews</strong></p>
    <!-- REVIEW CARDS -->
    <div class="row">
      <div class="card-review">
        <img src=<%= image_path 'John_Doe_advisor.jpg' %>>
        <h1>John Doe</h1>
        <p id="rating-stars"><% 5.times do %><i class="fas fa-star"></i><% end %>
        <p>"Completely surpassed our expectations."</p>
      </div>
      <div class="card-review">
        <img src=<%= image_path 'Trevor_McGill_advisor.jpg' %>>
        <h1>Trevor McGill</h1>
        <p id="rating-stars"><% 5.times do %><i class="fas fa-star"></i><% end %>
        <p>"He impressed me on so many levels."</p>
      </div>
      <div class="card-review">
        <img src=<%= image_path 'Lisa_Goodwill_advisor.jpg' %>>
        <h1>Lisa Goodwill</h1>
        <p id="rating-stars"><% 5.times do %><i class="fas fa-star"></i><% end %>
        <p>"The advisor was extremely helpful!"</p>
      </div>
      <div class="card-review">
        <img src=<%= image_path 'Alice_Fraser_advisor.jpg' %>>
        <h1>Alice Fraser</h1>
        <p id="rating-stars"><% 5.times do %><i class="fas fa-star"></i><% end %>
        <p>"Just what I was looking for. She's is the real deal."</p>
      </div>
    </div>
  </div>

  <!-- VALUE PROPS -->
  <div class="slice-container">
    <h2>Immigration with Canaduh</h2>
    <hr id="black-line">
    <div class="value-container">
      <div class="row">
        <div class="value-card">
          <i class="fas fa-tasks" style="color: red; font-size: 36px;"></i>
          <br>
          <p><strong>Plan smarter</strong></p>
          <p>Stay on track with a task manager and path planner. Personalized task recommendations guide the way to success.</p>
        </div>
        <div class="value-card">
          <i class="fas fa-users" style="color: red; font-size: 36px;"></i>
          <br>
          <p><strong>Support community</strong></p>
          <p>Find companionship on your path by connecting with people that share your journey.</p>
        </div>
        <div class="value-card">
          <i class="fas fa-award" style="color: red; font-size: 36px;"></i>
          <br>
          <p><strong>Expert advisors</strong></p>
          <p>Get immigration services from qualified professionals. Book an appointment directly onsite to discuss the most suitable path for your entry to Canada.</p>
        </div>
      </div>
    </div>
    <hr id="black-line">
  </div>

  <!-- GET STARTED BANNER -->
  <div class="fullwidth-container" style="min-height: 300px; border-radius: 5px; background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/p-m-b/image/upload/v1582387301/canaduh/banner_dyx0ad.png);">
    <div class="banner">
      <h1>Plan your journey and connect    with expert advisors to guide you    on the path to a new life.</h1>
      <div class="banner-search">
          <%= form_tag services_path(current_user), method: :get do %>
            <%= text_field_tag :query,
            params[:query],
            class: "search-field",
            placeholder: 'Try "general consultation"'
            %>
            <%= submit_tag "Get started", id: "banner-link", class: "btn btn-banner"%>
            <% end %>
      </div>
    </div>
  </div>

  <!-- SERVICES BY PATH CARDS -->
  <div class="slice-container">
    <h2>Browse services by path</h2>
    <div class="row">
      <a class="card-path" href="/services.15?query=student+visa&commit=Search" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(<%= image_path 'student-visa-path.jpg' %>)">
        <hr>
        <h1>STUDENT VISA</h1>
      </a>
      <a class="card-path" href="/services.15?query=work+visa&commit=Search" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(<%= image_path 'work-visa-path.jpg' %>)">
        <hr>
        <h1>WORK VISA</h1>
      </a>
      <a class="card-path" href="/services.15?query=permanent+residency&commit=Search" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(<%= image_path 'permanent-residency-path.jpg' %>)">
        <hr>
        <h1>PERMANENT RESIDENCY</h1>
      </a>
      <a class="card-path" href="/services.15?query=canadian+citizenship&commit=Search" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(<%= image_path 'citizenship-path.jpg' %>)">
        <hr>
        <h1>CANADIAN CITIZENSHIP</h1>
      </a>
    </div>
  </div>
</div>
