<div class="main-container">
  <div class="slice-container">
    <div class="row" style="justify-content: space-between;">
      <div class="container-profile-col">
        <div class="profile-header">
          <div style="position: relative;">
          <%= link_to edit_user_registration_path do %>
            <i class="far fa-edit" style="font-size:21px; position: absolute; top: 10px; right: 250px; color: $black; opacity: 0.8;"></i>
          <% end %>
          </div>
          <img src="<%= @user.imgUrl %>">

          <h2><strong><%= @first_name %> <%= @last_name %></strong></h2>
          <% if @user_type == "advisor" %>
            <p><strong>Specialty:</strong> <%= @specialty.capitalize %></p>
          <% else %>
            <p><strong>User Path:</strong> <%= @path_type%></p>
          <% end %>
          <p><strong>Location:</strong> <%= @location%></p>
          <div class="row" id="social-row">
            <i class="fab fa-linkedin" id="social-icon"></i>
            <i class="fab fa-instagram" id="social-icon"></i>
            <i class="fab fa-facebook-square" id="social-icon"></i>
            <i class="fas fa-home" id="social-icon"></i>
          </div>
        </div>
        <br>
        <div class="profile-details">
          <p><strong>Biography:</strong></p>
          <p><%= @bio %></p>

        </div>
        <br>
        <% if @user_type == "advisor" %>
          <div class="profile-services">
            <h4>Configured services</h4>
            <% @user.services.each do |service| %>
              <div class="card-inline-service">
                <div class="col">
                  <strong><%= service.service_type.capitalize %></strong>
                  <%= service.path %>
                </div>
                <div class="row-btn">
                  $<%= service.price %>/hr
                  <i class="fa fa-edit"></i>
                  <i class="fa fa-trash"></i>
                </div>
              </div>
            <% end %>
            <br>
            <%= link_to "Add a service", "/services/new", class: "btn-cta" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
