<% ride = @available_rides.find(ride_id) %>
<% @all_addresses = Address.geocoded %>
<% @departure_addresses = @all_addresses.where(name: "departure") %>
<% @destination_addresses = @all_addresses.where(name: "destination") %>
<% @booking = Booking.new%>

<% ride_id = ride.departure_address.ride_id %>
<% departure_address =  @departure_addresses.find_by(ride_id: ride_id).address %>
<% destination_address =  @destination_addresses.find_by(ride_id: ride_id).address %>

<div class="card-ride">
  <!-- RIDE DETAILS -->
  <p>Ride with <strong><%= User.find_by_id(ride.user_id).first_name%> <%= image_tag User.find_by_id(ride.user_id).imgUrl, class: "avatar" %></strong></p>
  <p><strong>From: </strong><%= departure_address %></p>
  <p><strong>To: </strong><%= destination_address %></p>
  <p><strong>Leaving on: </strong><%= ride.ride_date.to_time.strftime('%B %e, %Y') %></p>
  <p><strong>Price: </strong>$<%= ride.ride_price %></p>
  <% if ride.ride_capacity == 0%>
    <p>No seats available</p>
  <% else %>
    <p><strong>Available seats: </strong><%= ride.ride_capacity %></p>
  <% end %>

  <!-- RIDE ACTIONS -->
  <% if current_user.id == ride.user_id %>
    <div id="ride-action">
      <!-- EDIT -->
      <%= link_to edit_ride_path(ride) do %>
        <i class="fa fa-edit"></i>
      <% end %>
      <!-- DELETE -->
      <%= link_to ride_path(ride), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>
    <br>
    <% current_bookings =  Booking.where(ride_id: ride_id, booking_status: "booked") %>
    <% if current_bookings.empty? %>
    <% else %>
      <p>You will be sharing the ride with:</p>
      <% current_bookings.each do |booking| %>
        <div id="ride-sharing">
          <%= image_tag booking.user.imgUrl, class: "avatar" %>
          <%= booking.user.first_name %>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <!-- BOOK RIDE -->
    <% if Booking.where(ride_id: ride.id, user_id: current_user.id).empty? %>
      <%=form_for [ride, @booking] do |f| %>
        <%= f.submit "Book", class: "btn btn-primary", id: "sweet-alert2"%>
        <%= link_to "", dashboard_path, id: "book-ride", class: "hidden" %>
      <% end %>
    <br>
    <% else %>
      <%= link_to "See booking", dashboard_path%>
    <% end %>
    <!-- SHARING RIDE WITH? -->
    <% current_bookings =  Booking.where(ride_id: ride_id, booking_status: "booked")%>
    <% if current_bookings.empty? %>
    <% else %>
      <p>You will be sharing the ride with:</p>
      <% current_bookings.each do |booking| %>
        <div id="ride-sharing">
            <%= image_tag booking.user.imgUrl, class: "avatar" %>
            <%= booking.user.first_name %>
        </ul>
      <% end %>
    <% end %>
  <% end %>
</div>
