<div class="main-container">

  <div class="slice-container">

    <!-- MAP -->
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>

    <!-- ALL RIDES -->
      <% @all_rides.each do |ride| %>
        <div class="card-task">

          <!-- RIDES DETAILS -->
          <div class="task-details">
            <p><strong>From: </strong><%= ride.departure_address %></p>
            <p><strong>To: </strong><%= ride.destination_address %></p>
            <p><strong>When: </strong><%= ride.ride_date %></p>
            <p><strong>Price: </strong><%= ride.ride_price %></p>
            <p><strong>Capacity: </strong><%= ride.ride_capacity %></p>
            <p><strong>Ride with: </strong><%= User.find_by_id(ride.user_id).first_name %></p>
          </div>

          <!-- RIDE ACTIONS -->
          <div class="task-actions">
            <% if current_user.id == ride.user_id %>
              <!-- SHOW RIDE -->
              <div id="task-action"><%= link_to ride_path(ride) do %>
                <i class="fas fa-car"></i>
                <% end %>
              </div>
              <!-- EDIT RIDE -->
              <div id="task-action"><%= link_to edit_ride_path(ride) do %>
                <i class="fa fa-edit"></i>
                <% end %>
              </div>
              <!-- DELETE RIDE -->
              <div id="task-action"><%= link_to ride_path(ride), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="fa fa-trash"></i>
                <% end %>
              </div>
            <% else %>
              <!-- SHOW RIDE -->
              <div id="task-action"><%= link_to ride_path(ride) do %>
                <i class="fas fa-car"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>

  <!-- ADD A NEW RIDE -->
  <%#= link_to new_ride_path  do %>
<!--     <i class="fa fa-plus"></i> -->
  <%# end %>
  <p>Add a new ride</p>
  <%= form_for Ride.new do |f| %>
    <%= f.label "From" %>
    <%= f.text_field :departure_address %>

    <%= f.label "To" %>
    <%= f.text_field :destination_address %>

    <%= f.label "When" %>
    <%= f.text_field :ride_date %>

    <%= f.label "Price" %>
    <%= f.text_field :ride_price %>

    <%= f.label "Capacity" %>
    <%= f.text_field :ride_capacity %>

    <%= f.submit "Edit", class: "btn btn-primary"%>
  <% end %>
</div>
