<%= render 'shared/navbar' %>

<div class="main-container">

  <div class="slice-container">
    <!-- ALL RIDES -->
      <% @all_rides.each do |ride| %>
        <div class="card-task">

          <!-- RIDE DETAILS -->
          <div class="task-details">
            <p><strong>From: </strong><%= ride.departure_address %></p>
            <p><strong>To: </strong><%= ride.destination_address %></p>
            <p><strong>When: </strong><%= ride.ride_date %></p>
            <p><strong>Price: </strong><%= ride.ride_price %></p>
            <p><strong>Capacity: </strong><%= ride.ride_capacity %></p>
            <p><strong>Ride with: </strong><%= ride.user_id %></p>
          </div>

          <!-- RIDE ACTIONS -->
          <div class="task-actions">
            <!-- EDIT RIDE -->
            <% if current_user.id == ride.user_id %>
              <div id="task-action"><%= link_to edit_ride_path(ride) do %>
                <i class="fa fa-edit"></i>
                <% end %>
              </div>
              <!-- DELETE RIDE -->
              <div id="task-action"><%= link_to ride_path(ride), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="fa fa-trash"></i>
                <% end %>
              </div>
            <% else %>
              <div id="task-action"><%= link_to rides_path do %>
                <i class="fas fa-car"></i>
              <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>

  <!-- ADD A NEW RIDE -->
  <%= link_to new_ride_path  do %>
    <i class="fa fa-plus"></i>
  <% end %>

</div>
